<footer class="page-footer fs-4 bg-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <h4 class="text-white">Nos encontre em outros lugares</h4>
            </div>
        </div>

        <div class="row">
            <div class=" d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com" target="_blank" class="icoFacebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/twitter" target="_blank" class="icoInstagram">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com" target="_blank" class="icoTwitter">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bd-dark text-center fs-6 py-3">
       <small><p class="text-light fs-6">Délis Edwirges &copy; 2021 todos os direitos reservados. </p></small>

    </div>
</footer>