<div class="bg-dark ">
  <div class="back">
    <form class="row row-cols-lg g-1 m-0 p-2 align-items-center ghost transparence round">
      <div class="p-2">
        <div class="">
          <label class="py-1" for="inlineFormInputGroupUsername">Nome</label>
          <div class="input-group ">

            <input type="text" class="form-control ghost" id="inlineFormInputGroupUsername" placeholder="Nome">
          </div>
        </div>

        <div class="">
          <label class="py-1" for="inlineFormInputGroupUseremail">Email</label>
          <div class="input-group ">
            <input type="text" class="form-control ghost" id="inlineFormInputGroupUseremail" placeholder="E-mail">
          </div>
        </div>

        <div class="">
          <label class="py-1" for="inputPassword" >Senha</label>
          <div class="input-group ">
            <input type="password" class="form-control ghost" id="inputPassword" placeholder="Senha">
          </div>
        </div>

        <div class="">
          <label class="py-1" for="inputPassword">Confirmar Senha</label>
          <div class="input-group ">
            <input type="password" class="form-control ghost mb-1" id="inputPassword" placeholder="Senha">
          </div>
        </div>

        <div class="text-light mx-1 py-2 mt-1 textinho">
          <div class="form-check">
            <input class="form-check-input bg-dark" type="checkbox" id="inlineFormCheck">
            <label class="form-check-label align-check" for="inlineFormCheck">
              Lembrar minha senha.
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input bg-dark" type="checkbox" id="inlineFormCheck">
            <label class="form-check-label " for="inlineFormCheck">
              Li e concordo com os Termos de uso.
            </label>
          </div>

        </div>
          <div class="">
            <button type="submit" class="btn ghost  ">Cancelar</button>
            <button type="submit" class="btn ghost  ">Cadastrar</button>
          </div>
        
      </div>


    </form>
  </div>
</div>
